{% extends 'index.html' %}{%block title%}Signup{%endblock%}
{%block content%}
    <form method="POST">
        <h3 align="center">Register Here!</h3>
        <div class="from-group">
            <label for="email">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address"/>
        </div>
        <div class="from-group">
            <label for="firstname">First Name</label>
            <input type="text" class="form-control" id="firstname" name="firstname" placeholder="Enter your first name"/>
        </div>
        <div class="from-group">
            <label for="givenname">Given Name</label>
            <input type="text" class="form-control" id="givenname" name="givenname" placeholder="Enter your given name"/>
        </div>
        <div class="from-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter your Password"/>
        </div>
        <div class="from-group">
            <label for="password">Confirm password</label>
            <input type="password" class="form-control" id="password2" name="password2" placeholder="Enter your Password again"/>
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Signup</button>
    </form>
{%endblock%}